<section class="body-section">
  <div class="add-book-body">
    <div class="book-form mx-auto">
      <div class="book-input">
        <input
          name="title"
          type="text"
          class="form-control"
          placeholder="Title"
        />
        <input
          name="isbn"
          type="text"
          class="form-control"
          placeholder="ISBN"
        />
        <input
          name="rating"
          type="text"
          class="form-control"
          placeholder="Rating (1-5)"
        />
        <input
          name="date"
          type="date"
          class="form-control"
          placeholder="Date added"
        />
        <textarea
          name="notes"
          rows="6"
          cols="50"
          class="form-control"
          placeholder="Notes..."
        ></textarea>
        <button
          type="submit"
          class="btn btn-primary mx-1"
        >
          Submit
        </button>
        <button
          type=""
          class="btn btn-danger"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</section>
